**/bin/*
**/gen/*
**/build/*
**/out/*
**/*.iml
.gradle
**/local.properties
.DS_Store
.metadata/*
**.hprof

**.log

*.orig

.idea/assetWizardSettings.xml
.idea/caches/*
.idea/libraries/*
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/shelf
.idea/markdown-navigator.xml
.idea/markdown-navigator

.projectFilesBackup
/.idea/navEditor.xml

.wiki
.docs

/.idea/markdown-exported-files.xml
/.idea/kotlinScripting.xml
/.idea/kotlinc.xml
/.idea/codeStyleSettings.xml
/.idea/compiler.xml
