**/bin/*
**/gen/*
**/build/*
**/out/*
**/*.iml
.gradle
**/local.properties
.DS_Store
.metadata/*
**.hprof

**.log

*.orig
**/.attach*

.idea/*

!/.idea/codeStyles
!/.idea/runConfigurations
!/.idea/inspectionProfiles
!/.idea/encodings.xml
!/.idea/misc.xml
!/.idea/vcs.xml
!/.idea/dictionaries
!/.idea/icon.png
!/.idea/icon_dark.png

.projectFilesBackup