.highlight {
  background: #2B2B2B !important;
  border: none !important;
  margin-top: 0px !important;
  padding: 14px 0px 14px 14px !important;
  margin-bottom: 0 !important; }

.highlight pre {
  margin: 0; }

/* ----[ BASE ]---- */
.highlight .hll {
  background-color: #214283; }

.highlight .c {
  color: #808072; }

/* Comment */
.highlight .g {
  color: #808072; }

/* Generic */
.highlight .k {
  color: #CB772F; }

/* Keyword */
.highlight .l {
  color: #6897BB; }

/* Literal */
.highlight .n {
  color: #A9B7C6; }

/* Name */
.highlight .o {
  color: #A9B7C6; }

/* Operator */
.highlight .p {
  color: #A9B7C6; }

/* Punctuation */
.highlight .ch {
  color: #808072; }

/* Comment.Hashbang */
.highlight .cm {
  color: #53833D; }

/* Comment.Multiline */
.highlight .cp {
  color: #808072; }

/* Comment.Preproc */
.highlight .cpf {
  color: #808072; }

/* Comment.PreprocFile */
.highlight .c1 {
  color: #808072; }

/* Comment.Single */
.highlight .cs {
  color: #808072; }

/* Comment.Special */
.highlight .gd {
  color: #A9B7C6; }

/* Generic.Deleted */
.highlight .ge {
  color: #808072;
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #808072; }

/* Generic.Error */
.highlight .gh {
  color: #88BE05;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #88BE05; }

/* Generic.Inserted */
.highlight .go {
  color: #808072; }

/* Generic.Output */
.highlight .gp {
  color: #808072;
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  color: #808072;
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #A9B7C6; }

/* Generic.Subheading */
.highlight .gt {
  color: #808072; }

/* Generic.Traceback */
.highlight .kc {
  color: #CB772F; }

/* Keyword.Constant */
.highlight .kd {
  color: #CB772F; }

/* Keyword.Declaration */
.highlight .kn {
  color: #CB772F; }

/* Keyword.Namespace */
.highlight .kp {
  color: #CB772F; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #CB772F; }

/* Keyword.Reserved */
.highlight .kt {
  color: #CB772F; }

/* Keyword.Type */
.highlight .ld {
  color: #6A8759; }

/* Literal.Date */
.highlight .m {
  color: #6897BB; }

/* Literal.Number */
.highlight .s {
  color: #6A8759; }

/* Literal.String */
.highlight .na {
  color: #A9B7C6; }

/* Name.Attribute */
.highlight .nb {
  color: #A9B7C6; }

/* Name.Builtin */
.highlight .nc {
  color: #4AB2CD; }

/* Name.Class */
.highlight .no {
  color: #CB772F; }

/* Name.Constant */
.highlight .nd {
  color: #F1C829; }

/* Name.Decorator */
.highlight .ni {
  color: #A9B7C6; }

/* Name.Entity */
.highlight .ne {
  color: #88BE05; }

/* Name.Exception */
.highlight .nf {
  color: #FFC66D; }

/* Name.Function */
.highlight .nl {
  color: #A9B7C6; }

/* Name.Label */
.highlight .nn {
  color: #A9B7C6; }

/* Name.Namespace */
.highlight .nx {
  color: #88BE05; }

/* Name.Other */
.highlight .py {
  color: #A9B7C6; }

/* Name.Property */
.highlight .nt {
  color: #F1C829; }

/* Name.Tag */
.highlight .nv {
  color: #A9B7C6; }

/* Name.Variable */
.highlight .ow {
  color: #A9B7C6; }

/* Operator.Word */
.highlight .w {
  color: #A9B7C6; }

/* Text.Whitespace */
.highlight .mb {
  color: #6897BB; }

/* Literal.Number.Bin */
.highlight .mf {
  color: #6897BB; }

/* Literal.Number.Float */
.highlight .mh {
  color: #6897BB; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #6897BB; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #6897BB; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #6A8759; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #6A8759; }

/* Literal.String.Char */
.highlight .sd {
  color: #6A8759; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #6A8759; }

/* Literal.String.Double */
.highlight .se {
  color: #6897BB; }

/* Literal.String.Escape */
.highlight .sh {
  color: #6A8759; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #6A8759; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #6A8759; }

/* Literal.String.Other */
.highlight .sr {
  color: #6A8759; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #6A8759; }

/* Literal.String.Single */
.highlight .ss {
  color: #6A8759; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #A9B7C6; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #A9B7C6; }

/* Name.Variable.Class */
.highlight .vg {
  color: #A9B7C6; }

/* Name.Variable.Global */
.highlight .vi {
  color: #A9B7C6; }

/* Name.Variable.Instance */
.highlight .il {
  color: #6897BB; }

/* Literal.Number.Integer.Long */
/* ----[ PROPERTIES ]---- */
.highlight.properties .cm {
  color: #808072; }

/* Comment.Multiline */
.highlight.properties .na {
  color: #CB772F; }

/* Name.Attribute */
.highlight.properties .se {
  color: #6A8759; }

/* Literal.String.Escape */
.highlight .lineno {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }
