<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhaarman.bravo.android.tests">

    <application>
        <activity android:name=".BravoTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>